@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans&display=swap');
@import "map";
@import "inspirations";
@import "story";

p {
    font-family: 'Open Sans', sans-serif;
}

h1, .site-title, .page-link {
    font-family: 'EB Garamond', serif;
}

.page-link {
    font-size: large;
}

hr.midskip {
    border: none;
    color: #bbb;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2em;
    margin-top: 2em;

    &:after {
        content: '***';
    }
}